DOMAIN_NAME=login.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

# WordPress
WP_TITLE=inception
WP_ADMIN_USER=wpmaster
WP_ADMIN_EMAIL=wpmaster@login.42.fr

WP_USER=wpeditor
WP_USER_EMAIL=wpeditor@login.42.fr
